Django==1.9
-e git+git@github.com:whatisjasongoldstein/django-responsive-bits.git@b80d39c601bacd082a837b6ec2076cf1f2831154#egg=django_responsive_bits
Markdown==2.3.1
Pillow==3.0.0
Unipath==1.0
django-debug-toolbar==1.4.0
-e git+git@github.com:whatisjasongoldstein/django-genericadmin.git@77b246890f3813fcc44f28ded7f4cb36aa261e65#egg=django_genericadmin-dev
django-markdown-deux==1.0.5
django-nose==1.3
docutils==0.11
easy-thumbnails==2.2.1
-e git+git@github.com:whatisjasongoldstein/django-draftin.git@f413b3e49684b0eb0100b695d01899ec17445367#egg=django-draftin
mock==1.0.1
nose==1.3.0
python3-memcached==1.51
requests==2.5.1
typogrify==2.0.7
-e git+git@github.com:whatisjasongoldstein/scruffy-cropper.git@master#egg=scruffy-cropper
-e git+git@github.com:whatisjasongoldstein/django-featuring.git@master#egg=django-featuring
lxml

raven==5.8.1
libsass==0.10.0

django-pipeline==1.6.8
-e git+git@github.com:whatisjasongoldstein/django-pipeline-helpers.git@master#egg=django-pipeline-helpers
-e git+git@github.com:whatisjasongoldstein/scruffy-video.git@master#egg=scruffy-video

gunicorn==19.5.0
jinja2
urlparse