Django==1.7
-e git+git@github.com:whatisjasongoldstein/django-responsive-bits.git@0867ac6706ceab652c631fb1f474e1bb7185afad#egg=django_responsive_bits
Markdown==2.3.1
MarkupSafe==0.18
MySQL-python==1.2.5
Pillow==2.1.0
PyYAML==3.10
-e git+git@github.com:whatisjasongoldstein/scruffy-video.git@e3518ea38694313e8404ca64e9c7378b88ba6826#egg=scruffy_video
Unipath==1.0
bleach==1.2.2
cookiecutter==0.6.4
debug==0.2.1
distlib==0.1.2
django-allauth==0.18.0
django-appconf==0.6
django-avatar==1.0.5
django-bower==4.8
django-compressor==1.4
django-debug-toolbar==1.2.1
-e git+git@github.com:whatisjasongoldstein/django-genericadmin.git@5207f314285ca9724eb5e599f68880c579b1eff4#egg=django_genericadmin-dev
django-markdown-deux==1.0.4
django-markup-deprecated==0.0.1
django-nose==1.2
django-storages==1.1.8
djangorestframework==2.3.7
docutils==0.11
easy-thumbnails==1.3
html5lib==0.95
huey==0.4.1
ipdb==0.7
ipython==1.0.0
-e git+git@github.com:whatisjasongoldstein/johnny-cache.git@c4403c4b95c9a374241b59399b5fe816d7452fdd#egg=johnny_cache-dev
-e git+git@github.com:whatisjasongoldstein/django-draftin.git@7bf7478329052f95977bd04e9ed624f59ed20d76#egg=django-draftin
markdown2==2.1.0
mock==1.0.1
msgpack-python==0.3.0
nose==1.3.0
oauthlib==0.6.3
pycrypto==2.6
python-memcached==1.53
pyzmq==13.1.0
requests==1.2.3
see==1.0.1
smartypants==1.8.2
sqlparse==0.1.10
typogrify==2.0.0
urllib3==1.7
wsgiref==0.1.2
-e git+git@github.com:whatisjasongoldstein/scruffy-cropper.git@2fc7608d9ba88326ea770151876228b9a18cc126#egg=scruffy-cropper
-e git+git@github.com:whatisjasongoldstein/django-featuring.git@c4d122106198e8dac3c04e259e13425858f95cb5#egg=django-featuring
lxml
cssselect