{% extends "movies/base.html" %}
{% load markdown_deux_tags thumbnail responsive_tags scruffy_blog_tags %}

{% block navitems %}
    <li><a href="#">Summary</a></li>
    {% if movie.trailer_url %} 
        <li><a href="#trailer">Trailer</a></li>
    {% endif %}
    {% if movie.full_url %} 
        <li><a href="#watch">Watch</a></li>
    {% endif %}
{% endblock navitems %}

{% block content %}

<div class="splash movie">
    {% if movie.image %} 
        {% thumbnail movie.image 600x360 crop=",1" as small_art %}
        {% thumbnail movie.image 1000x600 crop=",1" as medium_art %}
        {% thumbnail movie.image 1200x720 crop=",1" as large_art %}
        {% thumbnail movie.image 1600x960 crop=",1" as massive_art %}
        <figure class="art" id="presenting">
            <img data-img-sizes={% image_sizes 1=small_art.url 900=medium_art.url 1200=large_art.url 1500=massive_art.url %}>
        </figure>
    {% endif %}
</div>
<div class="movie-overview">
    <h1 class="title">
        <div class="island">{{ movie.title }}</div>
    </h1>
    <div class="island summary">

        {% if movie.poster %} 
            {% thumbnail movie.poster 100x300 as tiny_poster %}
            {% thumbnail movie.poster 200x600 as small_poster %}
            {% thumbnail movie.poster 300x900 as medium_poster %}
            {% thumbnail movie.poster 400x1200 as big_poster %}
            <img class="poster" data-img-sizes={% image_sizes 1=tiny_poster.url 150=small_poster.url 300=medium_poster.url 400=big_poster.url %}>
        {% endif %}
        
        <p class="meta">
            <span class="data">{{ movie.year }} </span>
            <span class="data">{{ movie.length }} minutes</span>
            <span class="data">{{ movie.get_genre_display }}</span>
        </p>
        <section class="synopsis">
            {{ movie.synopsis|markdown }}
        </section>

        <ul class="events">
            {% for right in movie.get_bragging_rights %}
                <li>{{ right }}</li>
            {% endfor %}
            {% for event in movie.get_nonfestival_events %}
                <li>{{ event }}</li>
            {% endfor %}
        </ul>

        <hr class="clear">
    </div>

</div>

{% if movie.trailer_url %}
<div class="video-panel trailer" id="trailer">
    <div class="island is-player">
        <h3>Trailer</h3>
        {% include "movies/includes/vimeo_player.html" with url=movie.trailer_embed %}

        {% with movie.trailer_url as url %}
        {% with movie.trailer_share_text as text %}
        {% with movie.title as title %}
        {% with movie.poster as image %}
            {% include "social/share_buttons.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
    </div>
</div>
{% endif %}

{% if movie.full_url %} 
<div class="video-panel full-movie" id="watch">
    <div class="island is-player">
        <h3>Watch <i>{{ movie.title }}</i></h3>
        {% if user.is_authenticated or request.GET.opt_out %} 
            {% include "movies/includes/vimeo_player.html" with url=movie.movie_embed %}
            {% with movie.full_url as url %}
            {% with movie.movie_share_text as text %}
            {% with movie.title as title %}
            {% with movie.poster as image %}
            {% with "dark" as classes %}
                {% include "social/share_buttons.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        {% else %}
            {% with "We’re very excited to show you our movie! Can you sign in first?" as text %}
            {% with '#watch' as hash %}
                {% include "includes/login_request.html" %}
            {% endwith %}
            {% endwith %}
        {% endif %}
    </div>
</div>
{% endif %}




{% endblock content %}