{% load socialaccount %}
<div class="please-login">
    <h1>{{ text }}</h1>
    <p class="context">
        Why, you ask? We're trying to keep in touch with our viewers a little better.
        And yes, we promise to not a abuse it.
        <a href="{% url 'privacy' %}">Learn more</a>.
    </p>

    <ul class="options">
        <li>
            <a href="{% provider_login_url "facebook" %}?next={{ request.path }}{{ hash }}"><b class="icon-facebook-sign"></b> Facebook</a>
        </li>
        <li>
            <a href="{% provider_login_url "twitter" %}?next={{ request.path }}{{ hash }}"><b class="icon-twitter-sign"></b> Twitter</a>
        </li>
        <li>
            <a href="{% provider_login_url "google" %}?next={{ request.path }}{{ hash }}"><b class="icon-google-plus-sign"></b> Google</a>
        </li>
        <li> <a href="?opt_out=1{{ hash }}">I'll opt out, thanks!</a> </li>
    </ul>

</div>