{% load compress movie_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Be The Shoe Productions{% endblock title %}</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width" user-scaleable="no">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script type="text/javascript" src="//use.typekit.net/hax8lrw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    {% compress css %}
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/project.less">
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/splash.less">
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/player.less">
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/movies.less">
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/featured.less">
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}icons/less/font-awesome.less">
    <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/tooltip.less">
    {% endcompress %}


    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="{% block bodyclass %}default{% endblock bodyclass %}" id="feature">

    {% block nav %}
    <nav class="nav">
        <ul class="nav-items">
            <li><a id="dropdown-btn" href="/" class="icon-reorder"></a></li>
            {% block navitems %}{% endblock navitems %}
        </ul>
        <section class="dropdown">
            <div class="column">
                <h4><a href="/">Home</a></h4>
            </div>
            <div class="column">
                {% get_movies as all_movies %}
                <h4>Movies</h4>
                <ul>
                    {% for movie in all_movies %}
                    <li><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <h4>Blog</h4>
                <ul>
                    <li><a href="#">Latest Blog post</a></li>
                </ul>
            </div>
            <div class="column">
                <h4><a href="#">Musician Friends</a></h4>
                <h4><a href="#">Cast &amp; Crew</a></h4>
                <h4><a href="#">Press Coverage</a></h4>
            </div>
        </section>
    </nav>
    {% endblock nav %}

    <div class="outer-island">
        {% block content %}{% endblock content %}

        <footer class="footer">
            <p class="social">
                <a title="Want to chat? Email us." href="mailto:hello@betheshoe.com" class="icon-envelope"></a>
                <a title="Like the Shoe? Make it Facebook-official" href="https://www.facebook.com/betheshoe" class="icon-facebook-sign"></a>
                <a title="Obviously we're on IMDB, too" href="http://www.imdb.com/company/co0276174/" class="icon-film"></a>
                <a title="Follow us on Twitter&ndash;although we don't say much" href="http://twitter.com/betheshoe/" class="icon-twitter"></a>
            </p>
            <p class="copyright">&copy; Be The Shoe Productions {% now "Y" %}.</p>
        </footer>
    </div>

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/modernizer.2.6.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore-min.1.4.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.string.2.3.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tooltip.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/project.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/deferred-images.js"></script>
    {% endcompress %}


    <!-- Local Scripts -->
    {% block scripts %}{% endblock scripts %}

    <!-- Clicky -->
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(100547495); }catch(e){}</script>
    <noscript><img width="0" height="0" src="//in.getclicky.com/100547495ns.gif"></noscript>
</body>
</html>