{% extends "bts/base.html" %}
{% load socialaccount thumbnail responsive_tags %}

{% block nav %}{% endblock nav %}
{% block bodyclass %}no-nav{% endblock bodyclass %}

{% block content %}

{% with promoted_movie as movie %}
    
<div class="splash presenting">
    {% thumbnail movie.image 600x360 crop=",1" as small_art %}
    {% thumbnail movie.image 1000x600 crop=",1" as medium_art %}
    {% thumbnail movie.image 1200x720 crop=",1" as large_art %}
    {% thumbnail movie.image 1600x960 crop=",1" as massive_art %}

    <figure class="art shade" id="presenting">
        <img data-img-sizes={% image_sizes 1=small_art 900=medium_art 1200=large_art 1500=massive_art %}>
    </figure>

    <div class="wrap-type">
        <hgroup class="nameplate">
            <h1>Be The Shoe Productions</h1>
            <h3>Presents</h3>
            <h2><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h2>
        </hgroup>

        <div class="button-set">
            {% if movie.trailer_url %}
                <a href="{{ movie.get_absolute_url }}#trailer">See The Trailer</a>                
            {% endif %}
            {% if movie.full_url %} 
                <a href="{{ movie.get_absolute_url }}#watch">Watch The Movie</a>
            {% endif %}
        </div>

        <ul class="bragging-rights">
            {% for right in movie.get_bragging_rights %}
                <li>{{ right }}</li>
            {% endfor %}
        </ul>
    </div>

</div>
<h2 class="tagline-banner">
    We&rsquo;re movie people. We&rsquo;ve been making original features and short films since 2002.
</h2>



{% endwith %}

    {% comment %}
    <a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>

        
    {{ user.first_name }} {{ user.last_name }}

    {% providers_media_js %}
    {% endcomment %}
    
{% endblock content %}
