{% load compress %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ page.title }} // Be The Shoe{% endblock title %}</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" user-scaleable="no">
    <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:type" content="{{ page.type|default:"website" }}">
    {% if page.image %}
        <meta property="og:image" content="{{ page.image }}">
    {% endif %}

    <script src="https://use.typekit.net/rfq6ifs.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {% compress css %}
    <link rel="stylesheet" type="text/css"  href="{% static "normalize.css/normalize.css" %}">
    <link rel="stylesheet" type="text/css"  href="{% static "font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/sass" href="{% static "css/app.scss" %}">
    {% endcompress %}

    {% block head %}{% endblock head %}
</head>
<body>
{% include "includes/header.html" %}
{% block content %}
    
{% endblock content %}

{% include "includes/footer.html" %}

{% compress js %}
    <script src="{% static 'picturefill/dist/picturefill.min.js' %}"></script>
    <script src="{% static 'lazysizes/lazysizes.min.js' %}"></script>
    <script src="{% static 'js/share.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90008301-3', 'auto');
      ga('send', 'pageview');
    </script>
{% endcompress %}

</body>
</html>