{% extends "base.html" %}
{% load markdown_deux_tags thumbnail %}

{% block content %}
    
<article class="movie">

    <ul class="slate-art movie__art-grid">
        <li class="movie__art-grid__item image">
            <picture>
              <source media="(min-width: 600px)" srcset="{% thumbnail movie.image 1000x750 quality="85" crop=",1" %} 1x">
              <img src="{% thumbnail movie.image 360x270 quality="90" crop=",1" %}" alt="{{ movie.title }}">
            </picture>
        </li>
        {% if movie.poster %}
        <li class="movie__art-grid__item cover">
            <picture>
              <source media="(min-width: 1000px)" srcset="{% thumbnail movie.poster 600x900 quality="85" crop=",1" %} 1x">
              <source media="(min-width: 600px)" srcset="{% thumbnail movie.poster 400x600 quality="85" crop=",1" %} 1x">
              <img src="{% thumbnail movie.poster 200x300 quality="90" crop=",1" %}" alt="{{ movie.title }}">
            </picture>
        </li>
        {% endif %}
    </ul>

    <section class="slate-text">
        <h1 class="movie__title">{{ movie.title }}</h1>
        {% spaceless %}
        <ul class="movie__metadata">
            <li>{{ movie.year }}</li>
            <li>{{ movie.genre|title }}</li>
            <li>{{ movie.length }} minutes</li>
            {% if movie.facebook_url %}
                <li><a href="{{ movie.facebook_url }}">Like on Facebook</a></li>
            {% endif %}
            {% if movie.imdb %}
                <li><a href="{{ movie.imdb }}">IMDB Entry</a></li>
            {% endif %}
        </ul>
        {% endspaceless %}
        {{ movie.synopsis|markdown }}

        <p>
            <a class="button" data-share="{{ movie.get_absolute_url }}"><i class="fa fa-facebook-official"></i> Share</a>
        </p>
    </section>

    <hr>

    {% if movie.full_url or movie.trailer_url %}
    <section class="slate-text slate-container video-embeds">
        <ul class="video_embed__players">
            <li id="trailer">
                {% include "includes/vimeo-embed.html" with title="Trailer" url=movie.trailer_embed_url %}
            </li>
            <li id="movie">
                {% include "includes/vimeo-embed.html" with title="Full Movie" url=movie.movie_embed_url %}
            </li>
        </ul>
    </section>
    <hr>
    {% endif %}


    {% if movie.story %}
    <section class="slate-text">
        <h3>History</h3>
        {{ movie.story|markdown }}
    </section>
    <hr>
    {% endif %}

    {% with movie.bragging_rights as bragging_rights %}
    {% if bragging_rights|length > 1 %}
    <section class="movie__credits slate-text">
        {% for brag in bragging_rights %}
            {{ brag|markdown }}
        {% endfor %}
    </section>
    <hr>
    {% endif %}
    {% endwith %}


    {% if movie.credits %}
    <section class="movie__credits slate-text">
        <h3>Credits</h3>
        {% for credit in movie.credits_list %}
            {{ credit|markdown }}
        {% endfor %}            
    </section>
    {% endif %}

</article>

{% endblock content %}
