{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<section class="m-slate-text">
    <h1>All Movies</h1>
    <ul class="c-media-item-list">
    {% for movie in movies %}
        <li class="c-media-item">
            <a href="{{ movie.get_absolute_url }}">
                {% thumbnail movie.image 300x250 quality="90" crop=",1" as img %}
                <img data-src="{{ img.url }}" class="lazyload image">
                <h1 class="hed">{{ movie.title }}</h1>
            </a>
            <p class="description">{{ movie.synopsis|truncatewords:"50" }}</p>
            <p class="meta">
                {{ movie.year }} &bull; {{ movie.length }} minutes &bull; {{ movie.genre|title }}
                {% if movie.imdb %}
                    &bull; <a href="{{ movie.imdb }}">IMDb</a>
                {% endif %}
                {% if movie.facebook_url %}
                    &bull; <a href="{{ movie.facebook_url }}">Like on Facebook</a>
                {% endif %}
                {% if movie.full_url %}
                    &bull; <a href="{{ movie.full_url }}"><i class="fa fa-vimeo"></i> Watch on Vimeo</a>
                {% endif %}
            </p>
        </li>
    {% endfor %}
    </ul>

</section>
{% endblock content %}