{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block content %}
    <div class="island privacy">

{% markdown %}
# What's up with this login thing?

When we made our first feature, we rented a theater in St. Louis, made a Facebook event, and 100 people showed up with tickets in hand.

We can't do that anymore. Our longtime fans and supporters live everywhere from New York to South Korea, 
and the social networks we used to use to rely on are way too noisey.

So we're looking to build a list of people who like our movies, and contact them directly when we've got new stuff.

Sound good?

## Will you write on my wall?

No. Seriously, dude, we have principles. And stuff to do - like write the next screenplay.

You should totally post about us on Facebook, but that's your decision, not ours.

## Will you spam me?

No. We appreciate you sharing your email address, and we'll use it very sparingly.

## I hate you!

That makes me sad.




{% endmarkdown %}

    </div>
{% endblock content %}