a.button,
.button {
    text-decoration: none;
    border: 1px solid black;
    color: black;
    background: transparent;
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0 0.2em 0.2em 0;
    cursor: pointer;
    @include transition(0.25s linear background);

    em {
        font-style: normal;
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    &:hover {
        background: transparentize(green, 0.9);
    }

    &.button--reverse {
        border-color: white;
        color: white;
        &:hover {
            background: rgba(255,255,255,.1);
        }
    }

    &.button--small {
        font-size: 0.8em;
    }

    @media (max-width: 600px) {
        font-size: 0.8em;
    }
}

input[type=text],
input[type=email],
textarea {
    background: transparent;
    padding: 0.5em 1em;
    display: inline-block;
    margin: 0 0.2em 0.2em 0;
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 3px transparentize(black, 0.8);
}