@mixin slate-text() {
    width: calc(100% - 40px);
    margin: 0 auto;
    max-width: 800px;  
}

@mixin slate-art() {
    width: calc(100% - 40px);
    margin: 0 auto;
    max-width: 1440px;
}

@mixin slate-bleed() {
    width: 100%;
    margin: 0 auto;
}

.m-slate-text {
    @include slate-text();
}

.m-slate-art {
    @include slate-art();
}

.m-slate-bleed {
    @include slate-bleed();
}

.m-slate-container {
    position: relative;
}
