.c-media-item-list {
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.c-media-item {
    position: relative;
    margin: 2em 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;

    .image {
        outline: 1px solid #eee;
    }

    .hed {
        margin: 0;
        font-weight: bold;
        line-height: 1;
    }

    .meta {
        color: $meta;
        margin: 0.5em 0;
        font-size: 0.8em;
    }

    .description {
        display: none;
        margin-top: 0.5em;
        @media (min-width: 600px) {
            display: block;
        }
    }
}