.c-media-item-list {
    width: 100%;
    padding: 0;
    list-style-type: none;
}

.c-media-item {
    overflow: hidden;
    position: relative;
    clear: both;
    padding-left: calc(25% + 1em);
    margin: 2em 0;

    & > a {
        color: black;
        text-decoration: none;
    }

    .image {
        width: 25%;
        outline: 1px solid #eee;
        position: absolute;
        top: 0;
        left: 0;
    }

    .hed {
        margin: 0;
        font-weight: 400;
        line-height: 1;
        @include fancyLinks();
    }

    .meta {
        color: $meta;
        margin: 0.5em 0;
        font-size: 0.8em;
    }

    .description {
        display: none;
        @media (min-width: 600px) {
            display: block;
        }
    }
}