.movie-overview {
    background: white;
    position: relative;
    z-index: 200;

    .title {
         font-family: $condensed;
        font-weight: 100;
        padding: 0.25em 1%;
        margin: 0;
        line-height: 1em;
        font-size: 3em;
        background: #000;
        color: #FFF;
        @media (max-width: 600px){
            font-size: 2em;
        }
    }

    .summary {
        position: relative;
        width: 95%;
        padding: 0 0 1em 0;

        .meta {
            font-size: 0.666em;
            text-transform: uppercase;
            margin: 0;
            .data {
                display: inline-block;
                margin-right: 1em;
            }
        }
    }
    .synopsis {
        max-width: 40em;
    }

    .poster {
        width: 33%; max-width: 100%; display: block;
        float: right; margin-left: 5%; margin-top: -10em;
        box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
        @media (max-width: 600px){
            margin-top: -1em;
        }
    }

}


.video-panel {
    padding: 1em 0;

    h3 {
        font-family: $condensed;
        text-align: center;
        letter-spacing: 0.2em;
        font-weight: 300;
        text-transform: uppercase;
        padding-bottom: 0.5em;
        margin: 0;
        clear: both;
        color: darken($bgColor, 60%);
        border-bottom: 1px solid darken($bgColor, 15%);
    }
    
    &.trailer {
        background: darken($bgColor, 10%);
    }
    &.full-movie {
        background: #111; color:white;
        h3 {color: darken($bgColor, 33%); border-bottom-color: fade($bgColor, 20%);}
    }
    
}

.movie-overview .events {
    font-size: 0.9em;
    font-weight: normal;
    margin: 1em auto;
    padding: 0;
    list-style-type: none;
    text-align: left;
    border-left: 0.5em solid #ddd;
    padding: 0 0 0 1em;

    li {
        margin: 0;
        line-height: 1.333em;
    }
}

.please-login {
    text-align: center; padding: 2em 0;
    h1 {font-size: 2em; font-family: $condensed; font-weight: 100; line-height: 1.1em;}
    a {color:white;}
    .options {
        margin: 3em 0; list-style-type: none; padding: 0; text-align: center;
        li {list-style-type: none; display: inline-block; background: white;
            padding: 0.5em 1em; border-radius: 0.5em; margin: 0.5em;
            font-weight: 600;
        }
        a {text-decoration: none; color: $blue;}
    }

    .learn-more {
        display: none;
        text-align: left; line-height: 1.3333em; max-width: 45em; margin: 0 auto;
        h2 {margin: 1em 0 0 0;}
    }
}

.movie-listing {
    position: relative;
    overflow: hidden;
    margin: 0 auto 4em auto;
    @media (max-width: 600px){
        margin-bottom: 1em;
    }    


    h1 {
        font-weight: 600;
        margin: -1.2em 0 0 0;
        line-height: 1em;
        font-family: $condensed;
        position: relative;
        z-index: 110;
        text-shadow: 0 1px 3px black;
        font-size: 5em;
        white-space: nowrap;

        @media (max-width: 800px) {font-size: 3.5em; margin-top: -1.2em;}
        @media (max-width: 600px) {font-size: 2.5em; margin-top: -1.4em;}

        a {
            color: white;
            &:active {color:gold;}
            text-decoration: none;
            text-transform: uppercase;
        }
    }

    .meta {
        font-size: 0.75em;
        text-transform: uppercase;
        margin: 0;
    }

    .art {
        display: block; width: 100%;
        position: relative;
        z-index: 100;
    }
    .wrap-contents {
        width: 90%;
        margin: 1em auto;
        position: relative;
        z-index: 120;
    }
    .poster {
        width:25%; max-width: 30em;
        float: right;
        width: 25%;
        z-index: 500;
        position: relative;
        box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.5);
        margin: -15em 1em 1em 1em;
        @media (max-width: 1100px) { margin-top: -10em; }
        @media (max-width: 960px) { margin-top: -7em; }
        @media (max-width: 450px) { display: none; }
    }
    .panel {
        max-width: 45em;
    }

    .bragging-rights {
        border-top: 1px solid rgba(0,0,0,.25);
        padding: 1em 0 0 0;
        margin: 1em 0 0 0;
        list-style-type: none;
        font-size: 0.6em;
        line-height: 1.25em;
    }
}