.c-art-grid {
    padding: 0;
    list-style-type: none;
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    margin-top: 1em;

    li {
        img {
            box-shadow: 0 0.5vw 1vw transparentize(black,0.8);
        }
        &.image {
            width: 66%;
        }
        &.cover {
            width: 33%;
        }
        &.only {
            width: auto;
            margin: 0 auto;
        }
    }
}

.c-movie-info {
    .h1 {
        margin-bottom: 0;
    }

    .metadata {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 0.85em;
        color: $meta;
        li {
            display: inline-block;
            &:before {
                content: "•";
                margin: 0 0.5em; 
            }
            &:first-child:before {
                display: none;
            }
        }
    }


}

.c-credits {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
    font-size: 0.85em;

    h3 {
        width: 100%;
        clear: both;
    }

    p {
        margin: 0.5em 0;
        width: 100%;
        @media (min-width: 640px) {
            margin-right: 3%;
            width: 30%;
        }
    }
}

.c-video-player {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    iframe {
        background: black;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.c-video-players-list {
    list-style-type: none;
    padding: 0;
}