$bgColor: #f5f5f5;
$blue: #1A3575;
$hairline: darken($bgColor, 10%);

$sans: "proxima-nova", "Proxima Nova", helvetica, arial, sans-serif;
$condensed: "proxima-nova-condensed", "Proxima Nova Condensed", helvetica, sans-serif;


@mixin transform($args){
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    transform: $args;
}

@mixin transition($args: 1s all linear){
    -moz-transition: $args;
    -webkit-transition: $args;
    transition: $args;
}


@mixin simple-gradient($color1, $color2){
    background: $color1; /* Old browsers */
    background: -moz-linear-gradient(top,  $color1 0%, $color2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $color1 0%,$color2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $color1 0%,$color2 100%); /* IE10+ */
    background: linear-gradient(top,  $color1 0%,$color2 100%); /* W3C */
}