$sans: "franklin-gothic-urw",
        "Franklin Gothic", 
        "ITC Franklin Gothic", 
        "-apple-system", 
        "BlinkMacSystemFont", 
        "Segoe UI", 
        "Roboto", 
        "Oxygen-Sans", 
        "Ubuntu", 
        "Helvetica Neue", 
        sans-serif;


@mixin fancyLinks() {
    display: inline-block;
    &:after {
        display: block;
        background: rgba(0,150,0,0.2);
        height: 8px;
        width: auto;
        content:"";
        position: relative;
        top: -.2em;
        transition: 0.5s linear background;
    }
    &:hover:after {
        background: rgba(0,150,0,0.5);
    }
}

// Colors
$meta: #777;