@import "variables.less";

body {
    background: @bgColor;
    margin: 0;
    border-top: 1em solid @blue;
    font-family: @sans;
}

.logo {
    display: inline-block;
    text-align: left;
    margin: 0;
    font-family: @condensed;
    h1 {
        font-size: 3em;
        margin: 0;
        line-height: 1em;
        font-weight: 600;
        font-style: italic;
    }
    h2 { 
        margin: 0;
        font-size: 1em;
        font-weight: 300;
    }
}

.splash {
    color:white;
    background: #111;
    padding: 1em;
}