@bgColor: #f5f5f5;
@blue: #1A3575;
@hairline: darken(@bgColor, 10%);

@sans: "proxima-nova", "Proxima Nova" helvetica, arial, sans-serif;
@condensed: "proxima-nova-condensed", "Proxima Nova Condensed", helvetica, sans-serif;
