{% extends base_template %}
{% load thumbnail markdown_deux_tags responsive_tags typogrify_tags %}

{% block extrahead %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="rss/">
{% endblock extrahead %}

{% block content %}
    {% if topic %} 
    <div class="island">
        <h2 class="topic-title">{{ topic.name }}</h2>    
    </div>
    {% endif %}

    {% if not posts %} 
        <p class="no-posts island">Nothing here yet.</h3>
    {% endif %}

    {% if posts.has_previous %} 
    <div class="paginator">
        {% if posts.has_previous %} 
            <a href="?page={{ posts.previous_page_number }}"><span class="fa fa-chevron-left"></span></a>
        {% endif %}
        <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
        {% if posts.has_next %} 
            <a href="?page={{ posts.next_page_number }}"><span class="fa fa-chevron-right"></span></a>
        {% endif %}
    </div>
    {% endif %}

    <div class="island blog-index">
        {% for post in posts %}
        {% with post.get_lead_art as art %}                
            <div class="entry {% if forloop.first and posts.number == 1 %}featured{% else %}{% cycle "small" "big" "big" "small" "full" %}{% endif %} {% if art %}has_art{% else %}no_art{% endif %} {% cycle "odd" "even" %}">
                {% if art %}
                    {% thumbnail art 200x150 crop=",9" as small_art %}
                    {% thumbnail art 300x200 crop=",9" as medium_art %}
                    {% thumbnail art 500x375 crop=",9" as large_art %}
                    {% thumbnail art 1000x750 crop=",9" as massive_art %}
                    <a href="{{ post.get_absolute_url }}">
                        <img class="post-art" data-img-sizes={% image_sizes 1=small_art.url 200=medium_art.url 400=large_art.url 700=massive_art.url %} src="">
                    </a>
                {% endif %}

                <div class="wrap">
                    <a href="{{ post.get_absolute_url }}">
                        <h2>{{ post.title|typogrify }}</h2>
                        {% if post.subtitle %}<h3>{{ post.subtitle|typogrify }}</h3>{% endif %}
                    </a>
                    <p>{{ post.cached_text|truncatewords:"30" }}</p>
                    <p class="meta">{{ post.date }}</p>
                </div>
            </div>
        {% endwith %}
        {% endfor %}
    </div>

    {% if posts.has_next or posts.has_previous %} 
    <div class="paginator">
        {% if posts.has_previous %} 
            <a href="?page={{ posts.previous_page_number }}"><span class="fa fa-chevron-left"></span></a>
        {% endif %}
        <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
        {% if posts.has_next %} 
            <a href="?page={{ posts.next_page_number }}"><span class="fa fa-chevron-right"></span></a>
        {% endif %}
    </div>
    {% endif %}

{% endblock content %}