{% extends base_template %}
{% load thumbnail markup responsive_tags typogrify_tags scruffy_blog_tags movie_tags %}

{% block content %}
<div class="wrap-blog">
    <div class="post-head">
        <hgroup>
            <h1>{{ post.title|typogrify }}</h1>
            {% if post.subtitle %}<h2>{{ post.subtitle|typogrify }}</h2>{% endif %}
            <p class="byline">
                {{ post.author }}
                {% if post.author and post.date %} &bull; {% endif %}
                {{ post.date }}
            </p>
        </hgroup>
        {% if post.image and not post.is_thumbnail %} 
            {% thumbnail post.cropped_image 600x450 crop=",9" as small_art %}
            {% thumbnail post.cropped_image 800x600 crop=",9" as medium_art %}
            {% thumbnail post.cropped_image 1200x900 crop=",9" as large_art %}
            {% thumbnail post.cropped_image 2000x1500 crop=",9" as massive_art %}
            <img class="post-art" data-img-sizes={% image_sizes 1=small_art.url 800=medium_art.url 1200=large_art.url 2000=massive_art.url %} src="{{ small_art }}">
        {% endif %}
    </div>

    <div class="post-body">
        {% for element in post.get_elements %}
            {{ element.render }}
        {% endfor %}

        <ul class="topics">
            {% for topic in post.topics.all %}
                <li><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="next-suggestion">
        {% get_related_movie post.cached_text as movie %}
        {% if movie %}
            <a href="{{ movie.get_absolute_url }}">
                <img src="{% thumbnail movie.poster 100x200 %}">
                <h4>{{ movie.title }}</h4>
                {% if movie.get_bragging_rights %}
                    <ul>
                        {% for right in movie.get_bragging_rights %}
                            <li>{{ right }}</li>
                        {% endfor %}
                    </ul> 
                {% else %}
                    <p>{{ movie.synopsis|truncatewords:"50" }}</p>                
                {% endif %}
            </a>
            
        {% endif %}
    </div>
</div>
{% endblock content %}